<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/skelton/normalize.css">
  <link rel="stylesheet" href="css/skelton/skeleton.css">
  <link rel="stylesheet" href="../css/startPage.css">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
</head>

<body>
  <div id="myDIV" class="header">
    <h3 style="font-size: 35px;">Daily Activity Management</h3>
  </div>
  <div class="body" style="background-image: url('../images/clock_alarm.jpg');">
    <form action = "http://127.0.0.1:8888/task/addNewTask" method="get">
    <button id="addBtn" class="startPageBtn">Add Task</button>
   </form>
<form action  ="http://127.0.0.1:8888/task/viewMyTasks" method="get">
    <button id="viewTsk" class="startPageBtn">View Task</button>
  </form>
</div>

  
</body>

</html>