/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on 
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  } */
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  .userInput{
    margin: 5px;
    border: 5px;
    border-radius: 0;
    width: 15%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  #addBtn, #addTaskBtn {
    margin-top: 10px;
    width: 10%;
    background: #d9d9d9;
    color: rgb(23, 88, 44);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 0;
    box-shadow: 0 5px #666;
    position: relative;
  }
  
  #addBtn :hover {
    background: rgb(255, 255, 255);
    font-size: 13px;
  }
  #addBtn :active{
    transform: translateY(4px);
  }
  #addTaskBtn :hover {
    background: rgb(255, 255, 255);
    font-size: 13px;
  }
  #addTaskBtn :active{
    transform: translateY(4px);
  }




  input,select{
    color: black;
  }
  span{
    border-right:1px solid black;
    padding: 5px;
    margin: 5px;
  }
  .taskrow input, .taskrow select{
    max-width: 200px;
    padding: 2px;
    margin: 5px;
  }
  .taskrow{
    border-bottom: 1px solid gray;
    
  }
  .fa{
    font-size: large;
    box-shadow: 0 5px #666;
  }
  .fa:hover{
    font-size: medium;
  }
  .fa:active {
    transform: translateY(4px);
  }
  
  .viewAndDelete{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 253);
    box-shadow: 0 5px #666;
  }
  
  .viewAndDelete:active {
    transform: translateY(4px);
  }
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

