/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    height: fit-content;
    flex-grow: 1;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  .userInput{
    margin: 5px;
    border: 5px;
    border-radius: 0;
    width: 13.5%;
    padding: 10px;
    float: left;
    font-size: 16px;
    box-shadow: 2px 4px black;
  }
  
  /* Style the "Add" button */
  #addBtn, #addTaskBtn ,#viewTaskBtn{
    width: 10%;
    background: #c7c3c3;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 25px;
    box-shadow: 2px 4px black;
    float: left;
    padding: 1px;
    margin: 5px 0px 0px 0px;
    
  }
  #saveChanges{
    width: 10%;
    background: #c7c3c3;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 25px;
    box-shadow: 2px 4px black;
    padding: 1px;
    margin: 0px 0px 0px 5px;
    
  }

  
  #addBtn :hover {
    background: rgb(255, 255, 255);
    font-size: 13px;
  }
  #addBtn :active{
    transform: translateY(4px);
  }
  #addTaskBtn :hover {
    background: rgb(255, 255, 255);
    font-size: 13px;
  }
  #addTaskBtn :active{
    transform: translateY(4px);
  }
  
  #navigateBack{
    float: left;
    color: #ffea00;
  }



  input,select{
    color: black;
  }
  span{
    border-right:1px solid black;
    padding: 5px;
    margin: 5px;
    box-sizing: 1px;
  }
  .taskrow input, .taskrow select{
    max-width: 200px;
    padding: 2px;
    margin: 5px;
  }
  .taskrow{
    border-bottom: 1px solid gray;
    
  }
  .fa{
    font-size: large;
    box-shadow: 0 5px #666;
  }
  .fa:hover{
    font-size: medium;
  }
  .fa:active {
    transform: translateY(4px);
  }
  
  .viewAndDelete{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 253);
    box-shadow: 0 5px #666;
  }
  
  .viewAndDelete:active {
    transform: translateY(4px);
  }
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#userDrpDwn{
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  left: 43%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#viewBtnDiv{
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.red-txt {
 background-color: #f44336;
}
#navigateToAddTask{
  float: right;
  color: #ffea00;
}